{
    "extends": "react-app",
    "rules": {
        "quotes": [2, "double", { "avoidEscape": true }],
        "no-console": "warn",
        "no-empty": "error",
        "semi": "error",
        "no-unused-expressions": "error",
        "no-unused-vars": "error",
        "jsx-a11y/anchor-is-valid": 0
    }
}
