.ethRate {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);

    &__text {
        font-size: calc(10px + 2vmin);
        margin: 20px;
        min-width: 370px;
        text-align: left;
    }

    &__btn {
        font-size: calc(10px + 2vmin);
        margin: 10px;
        padding: 20px 30px;
        min-width: 345px;
    }
}
