.gasPrice {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);

    &__text {
        font-size: calc(10px + 2vmin);
        margin: 20px;
        min-width: 364px;
        text-align: left;

        &__wrap {
            padding-bottom: 150px;
        }
    }

    &__btn {
        font-size: calc(10px + 2vmin);
        margin: 10px;
        padding: 20px 30px;
    }
}
